.container-list {
    margin-left: 60px;
}
.emp-list {
    background-color: lightgray;
    width: 97%;
    height: 50px;
    margin-top: 20px;
}

.heading{
    font-weight: 700;
    width: 190px;
}

.delete-btn {
    border: none;
    width: 40px;
    background-color: white;
    color: red;
}

.visibility-btn {
    border: none;
    width: 40px;
    background-color: white;
    color: cornflowerblue;
}