.heading-list {
    margin-left: 40px;
    margin-top: 65px;
}

.heading{
    font-weight: 700;
    width: 190px;
}

.delete-btn {
    border: none;
    width: 40px;
    background-color: white;
    color: red;
}

.visibility-btn {
    border: none;
    width: 40px;
    background-color: white;
    color: cornflowerblue;
}