.update-employees {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.update-emp {
    background-color: lightgray;
    width: 87%;
    height: 50px;
}

.input-fields {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    
}

input {
    width: 585px;
    height: 40px;
    background-color: white;
    border: none;
    border: 1px solid black;
}

label {
    width: 511px;
    height: 50px;
    background-color: white;
    border: none;
    font-size: 1.3em;
    font-weight: 600;
}


button {
    width: 200px;
    height: 40px;
    background-color: mediumseagreen;
}